*.a
*.so
*.exe
*.run
*.lib
*.dll
*.log
#*#
*~

### Build files
Makefile
makefile
*.target.mk
*.Makefile
*.make
out/
obj/

### Project linking
ThirdParty/bin/*
ThirdParty/include/*

### IDE files
# KDE 4
.kdev4/
*.kdev4

# Codeblocks
*.cbp
*.workspace
*.depend
*.layout

# VS2013
*.opensdf
*.sdf
*.sln
*.suo
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.ilk